#header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}


#header .container-fluid {
    position: relative;
}

#header h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0;
}

#header .gnb {
    padding: 0 30px;
}

#header .gnb .left {
    float: left;
}

#header .gnb .right {
    float: right;
}

#header .gnb>ul>li {
    float: left;
}

#header .gnb>ul>li>a {
    display: block;
    padding: 0 15px;
}



.float03 {
    padding: 100px 0;
}

.float03 h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-align: center;
}

.float03 p {
    font-size: 15px;
    margin: 0 0 30px 0;
    text-align: center;
}

.float03 .container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.float03 .container figure {
    position: relative;
    float: left;
    width: 33.33333333%;
    padding: 0 15px;
}

.float03 .container figure .gong {
    position: absolute;
    top: -50px;
    left: 0;
}